<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notes Service API</title>
</head>
<body>
  <h1>Notes Service API</h1>
  <ul>
    <li><a href="/notes">GET /notes</a> - вивести список усіх нотаток</li>
    <li>POST /notes - створити нову нотатку (через API клієнт, очікує JSON)</li>
    <li>GET /notes/&lt;id&gt; - вивести нотатку (перейдіть до списку нотаток та натисніть View)</li>
  </ul>
</body>
</html>